<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mailId" value="jw69816@naver.com"/>
		<add key="pwd" value="fbrudtjrWkd1!"/>
		<add key="zipAPIKey" value="devU01TX0FVVEgyMDIyMDQyNTA5MjcwNTExMjQ5NDc=" />
	</appSettings>
	<connectionStrings>
		<add name="bike" connectionString="Server=127.0.0.1;Uid=sa;Pwd=1234;Database=team2"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>